.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 0px 20px;
}



.header-location {
	display: flex;
	align-items: center;
	gap: 10px;
}

.location-icon {
	width: 26px;
	height: 26px;
}

.nav {
	display: flex;
	align-items: center;
	gap: 26px;
	list-style: none;
}

.nav-item {
	padding: 2px;
}

.active {
	font-weight: 700 !important;

	text-decoration-line: underline;
}

.nav-item a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	color: #242424;
	transition: all 0.2s ease;
}

.layer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.53);
	z-index: 99;
}

.nav-item a:hover {
	color: #2424248b;
}

.btn-group {
	display: flex;
	align-items: center;
	gap: 24px;
}

.menu {
	display: none;
	padding: 2px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 20;
}

.menuIcon {
	width: 34px;
	height: 34px;
}

@media only screen and (max-width: 1227px) {
	.header-location {
		display: none;
	}
	.nav {
		display: none;
	}
	.btn-group {
		display: none;
	}
	.menu {
		display: flex;
	}
}
