.auth {
	padding: 10px 22px;
	max-width: 250px;
	width: 100%;
	gap: 10px;
	border: 1px solid #fff279;
	cursor: pointer;

	background: #fff279;
	border-radius: 10px;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;

	color: #242424;
}
